<div class="my-5 p-5 text-center shadow rounded  mx-auto bg-dark text-light">
    <h1> Admin Page </h1>
    <hr class="w-25 mx-auto bg-dark text-light">
    <p>only Admins and Eng:Ahmad Elbatanony can show that and we write here to fill this space with any thing</p><br>
    <p>our Greetings kemo,zyiad,medo,zizzo,somaa and ali</p>


</div>
