<div class="my-5 p-5 text-center shadow rounded  mx-auto bg-dark text-light">
    <h1> Home Page </h1>
    <hr class="w-25 mx-auto bg-dark text-light">
    <a href="/admin/showDept" class="fs-5  text-success">Go to Department page</a><br>
    <a href="/admin/showSub" class="fs-5 bg-dark text-info">Go to Subjects page</a><br>
    <a href="/admin/showStd" class="fs-5 bg-dark text-warning">Go to Students page</a>

</div>
